<li class="collection-item" id="{{id}}">
	<strong class="title">{{title}}</strong> <em class="calories">{{calories}} Calories</em>
	<a id='{{id}}' href="/edit/{{id}}" class="post-id secondary-content">
		<i id="edit-post" class="fa fa-pencil"></i>
		<i id="delete-meal" class="fa fa-trash"></i>
	</a>
</li>